{# templates/article/editArticle.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block main %}
    <div class="container mt-5">
        <form action="{{ path('app_article_edit', {'id': article.id}) }}" method="post">
            <h1>Modifier l'article</h1>
            {{ form_start(form) }}
            <br>
            <div class="form-group">
                {{ form_label(form.titre, 'Titre de l\'article') }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
            <div class="form-group">
                {{ form_label(form.texte, 'Contenu de l\'article') }}
                {{ form_widget(form.texte, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
             <div class="form-group">
                {{ form_label(form.image, 'Image de l\'article') }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
