{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block main %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Les articles disponibles :</h1>
            <a href="{{ path('create_article_template') }}" class="btn btn-primary">Créer un article</a>
        </div>
        
        {% if message is not null %} 
            <p>{{ message }}</p>
        {% else %}
            <div class="row">
                {% for article in liste_article %}
                    <div class="col-md-3 mb-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                {% set imagePath = asset('uploads/' ~ article.id ~ '.png') %}
                                <img src="{{ imagePath }}" class="card-img-top" alt="Image de l'article">
                                <h5 class="card-title">{{ article.titre }}</h5>
                                <p class="card-text">{{ article.texte }}</p>
                                <h6 class="card-subtitle mb-2 text-muted">{{ article.date|date('d/m/Y') }}</h6>
                                <a href="{{ path('edit_article', {'id': article.id}) }}" class="btn btn-success">Edit</a>
                                <a href="{{ path('supprimer_article', {'id': article.id}) }}" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
